<div id="comingsoon">
<h1>Something Great is the works ... </h1>
<p> and its </p> 
<h2><em> Coming Soon !! </em> </h2>
</div>

<div id="userinput">
<p>Give us your details!</p>
<div id="form">
<%= form_tag ("/subscribe") do %>
	<%= label_tag :name %>
	<%= text_field_tag :name %> <br/>
	<%= label_tag :email %>
	<%= text_field_tag :email %>
	<% end %>
	</div>
	</div>