<!DOCTYPE html>
<html>
<head>
  <title>Rubyafrica</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "<%= controller_name%> <%= action_name%>"
	<ol>
		<ul><%=link_to_unless_current("HOME", root_path)%> </ul>
		<ul><%= link_to_unless_current("ABOUT", about_path)%> </ul>
	</ol>
</nav>
<%= yield %>
<%= image_tag "big_door.jpg" %>
</body>
</html>
